<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="formulario" (submit)="crear()">
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del usuario"
                        formControlName="nombre">
                    <span class="text-danger"
                        *ngIf="validarCampo('nombre')">
                        El campo debe tener el formato Nombre y Apellido
                    </span>
                </div>
            </div>
            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="Email del usuario"
                        formControlName="email">
                    <span class="text-danger"
                        *ngIf="emailRequerido()">
                        El correo es obligatorio
                    </span>
                    <span class="text-danger"
                        *ngIf="emailFormato()">
                        El valor ingresado no es un correo válido
                    </span>
                    <span class="text-danger"
                        *ngIf="emailEnUso()">
                        El email ya existe
                    </span>
                </div>
            </div>
            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Username del usuario"
                        formControlName="username">
                    <span class="text-danger"
                        *ngIf="validarCampo('username')">
                        El username es obligatorio
                    </span>
                </div>
            </div>
            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Password del usuario"
                        formControlName="password">
                    <span class="text-danger"
                        *ngIf="validarCampo('password')">
                        El password debe contener 6 o mas caracteres
                    </span>
                </div>
            </div>
            <!-- Confirmar Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Confirmar password"
                        formControlName="passwordConfirmacion">
                    <span class="text-danger"
                        *ngIf="validarCampo('passwordConfirmacion')">
                        Las contraseñas deben ser iguales
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end"
                        [disabled]="formulario.pending">
                        Crear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>form valid: {{formulario.valid}}</h2>
<h2>form status: {{formulario.status}}</h2>
<h2>form pending: {{formulario.pending}}</h2>
<h2>form errors: {{formulario.errors | json}}</h2>
<h2>Nombre</h2>
<pre>{{formulario.controls['nombre'].errors | json}}</pre>
<h2>Email</h2>
<pre>{{formulario.controls['email'].errors | json}}</pre>
<h2>Username</h2>
<pre>{{formulario.controls['username'].errors | json}}</pre>
<h2>Password</h2>
<pre>{{formulario.controls['password'].errors | json}}</pre>
<h2>Password Confirmacion</h2>
<pre>{{formulario.controls['passwordConfirmacion'].errors | json}}</pre>